.about {
  padding-bottom: var(--section-offset);

  &__subtitle {
    margin-bottom: var(--title-offset);
  }

  &__title {
    margin: 0;
    margin-bottom: var(--title-offset);
  }

  &__descr {
    margin: 0;
  }
}
