.hero {
  padding-top: var(--section-offset);
  padding-bottom: var(--section-offset);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__img {
    position: relative;
    max-width: 650px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 480px;
    text-align: right;
  }

  &__link {
    position: absolute;
    right: 20%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 12px 0 #06070746;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--light-color);
    background-color: var(--accent-color);

    @include tablet {
      width: 80px;
      height: 80px;
      font-size: 14px;
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: clamp(calc(var(--body-fz) * 3), 5vw, 80px);
    color: var(--accent-color);
  }

  &__title-icon {
    position: absolute;
    right: -20px;
    top: 5%;
    width: 20px;
    height: 20px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    max-width: 370px;
    font-size: clamp(calc(var(--body-fz) * 1), 2vw, 25px);
  }

  &__accent {
    margin: 0;
    font-weight: 700;
    color: var(--accent-color);
  }
}
