.menu {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px 15px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;

    &--active {
      .menu__icon {
        fill: var(--accent-color);
      }
    }

    @include hover {
      .menu__tooltip {
        opacity: 1;
      }

      .menu__icon {
        fill: var(--accent-color);
      }
    }

    @include small-desktop {
      width: 20px;
      height: 20px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--icon-fill-muted);
    transition: fill 0.3s ease-in-out;
  }

  &__tooltip {
    position: absolute;
    left: -110px;
    top: 50%;
    border-radius: 10px;
    padding: 6px;
    min-width: 85px;
    text-align: center;
    background-color: var(--tooltip-bg);
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;

    p {
      margin: 0;
      font-size: 12px;
      color: var(--tooltip-text);
    }
  }

  @include small-desktop {
    padding: 10px;
  }

  @include tablet {
    display: none;
    visibility: hidden;
  }
}
