.person {
  position: fixed;
  left: 15px;
  top: 50%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 30px 50px;
  transform: translateY(-50%);

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__name {
    font-weight: 700;
    font-size: 28px;
    color: var(--maintext-color);

    @include tablet {
      font-size: var(--font-m);
    }
  }

  &__designation {
    font-weight: 400;
    font-size: var(--font-s);
    text-align: right;
    color: var(--maintext-color);

    @include tablet {
      font-size: var(--font-xs);
    }
  }

  &__img {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    height: 37vh;
    max-width: 320px;
    max-height: 520px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include small-desktop {
      width: 196px;
      height: 258px;
    }
  }

  &__content {
    margin-bottom: 20px;
    text-align: center;
  }

  &__descr {
    font-size: 24px;
    line-height: 1.4;
    color: var(--maintext-color);

    @include tablet {
      font-size: var(--font-m);
    }
  }

  &__mail {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__copyright {
    margin-bottom: 30px;
    font-size: var(--font-s);
    text-align: center;
    color: var(--subtext-color);

    @include tablet {
      margin-bottom: 15px;
      font-size: var(--font-xs);
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;

    .social__icon {
      width: 30px;
      height: 30px;
    }

    @include tablet {
      margin-bottom: 15px;
    }
  }

  @include small-desktop {
    padding: 30px;
    max-width: 335px;
  }

  @include tablet {
    top: 50px;
    max-width: 260px;
    transform: translate(0);
  }

  @include mobile {
    position: unset;
    margin: 0 auto;
    margin-top: 65px;
    padding: var(--container-offset);
    max-width: 300px;
  }
}
