.services {
  padding-bottom: var(--section-offset);

  &__subtitle {
    margin-bottom: var(--title-offset);
  }

  &__title {
    margin: 0;
    margin-bottom: var(--title-offset);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 30px;

    @include small-tablet {
      padding: 15px;
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: var(--font-l);
    color: var(--maintext-color);

    @include small-tablet {
      margin-bottom: 10px;
      font-size: var(--font-m);
    }
  }

  &__descr {
    margin: 0;
  }
}
