.social {
  &__link {
    display: block;

    @include hover {
      .social__icon {
        fill: var(--accent-color);
      }
    }
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--icon-fill-muted);
    object-fit: cover;
    transition: fill 0.3s ease-in-out;
  }
}
