.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  width: 56px;
  height: 56px;
  background-color: var(--body-color);
  transition: border-color 0.3s ease-in-out;

  &__icon {
    display: none;
    width: 60%;
    height: 60%;
    fill: var(--icon-fill);
    object-fit: cover;
    opacity: 0;
    transition: fill 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &--active {
      display: block;
      opacity: 1;
    }
  }

  @include hover {
    border-color: var(--accent-color);

    .theme__icon {
      fill: var(--accent-color);
    }
  }

  @include small-desktop {
    width: 42px;
    height: 42px;
  }
}
