<section class="about">
  <div class="container about__container">
    <h2 class="title about__title">О препарате</h2>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__icon">
          <img src="img/about-brain.png" width="100" height="100" aria-hidden="true">
        </div>
        <div class="about__text"> <b>Стимулирует</b> регенерацию нервной системы</div>
      </li>
      <li class="about__item">
        <div class="about__icon">
          <img src="img/about-human.png" width="100" height="100" aria-hidden="true">
        </div>
        <div class="about__text"><b>Улучшает</b> проведение нервного импульса</div>
      </li>
      <li class="about__item">
        <div class="about__icon">
          <img src="img/about-heart.png" width="100" height="100" aria-hidden="true">
        </div>
        <div class="about__text"><b>Улучшает</b> кровообращение</div>
      </li>
      <li class="about__item">
        <div class="about__icon">
          <img src="img/about-needle.png" width="100" height="100" aria-hidden="true">
        </div>
        <div class="about__text"><b>Обладает</b> анальгезирующим действием</div>
      </li>
    </ul>
    <ul class="list-reset about__features">
      <li class="about__feature feature">
        <div class="feature__header">
          <div class="feature__vitamine">
            B<span>1</span>
          </div>
          <h3 class="subtitle feature__title">Тиамин</h3>
        </div>
        <ul class="list-reset feature__list">
          <li class="feature__item">Играет ключевую роль в процессах углеводного обмена, имеющих решающее значение в
            обменных процессах нервной ткани (участвует в проведении нервного импульса), а также в цикле Кребса с
            последующим участием в синтезе ТПФ (тиаминпирофосфат) и АТФ (аденозинтрифосфат)</li>
        </ul>
      </li>
      <li class="about__feature feature">
        <div class="feature__header">
          <div class="feature__vitamine">
            B<span>12</span>
          </div>
          <h3 class="subtitle feature__title">Цианокобаламин</h3>
        </div>
        <ul class="list-reset feature__list">
          <li class="feature__item">Участвует в синтезе миелиновой оболочки нервных волокон</li>
          <li class="feature__item">Стимулирует гемопоэз, уменьшает болевые ощущения, связанные с поражением
            периферической нервной системы</li>
          <li class="feature__item">Стимулирует нуклеиновый обмен через активацию фолиевой кислоты</li>
        </ul>
      </li>
      <li class="about__feature feature">
        <div class="feature__header">
          <div class="feature__vitamine">
            B<span>6</span>
          </div>
          <h3 class="subtitle feature__title">Пиридоксин</h3>
        </div>
        <ul class="list-reset feature__list">
          <li class="feature__item">Обладает жизненно важным влиянием на обмен белков, жиров и углеводов</li>
          <li class="feature__item">Необходим для нормального кроветворения и функционирования нервной системы</li>
          <li class="feature__item">Обеспечивает синаптическую передачу и процессы торможения в ЦНС</li>
          <li class="feature__item">Участвует в транспорте сфингозина, входящего в состав оболочки нерва</li>
          <li class="feature__item">Участвует в синтезе катехоламинов</li>
        </ul>
      </li>
      <li class="about__feature feature">
        <div class="feature__header">
          <h3 class="subtitle feature__title">Лидокаин</h3>
        </div>
        <ul class="list-reset feature__list">
          <li class="feature__item">Оказывает анестезирующее действие в месте инъекции</li>
          <li class="feature__item">Расширяет сосуды, способствуя всасыванию витаминов</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
