<section id="about"  class="about">
  <div class="container">
    <div class="custom-container">
      <h2 class="subtitle about__subtitle">
        <svg class="subtitle__icon">
          <use xlink:href="img/sprite.svg#about"></use>
        </svg>
        About
      </h2>
      <h3 class="title about__title">
        Every great design begin with an even <span class="colored-word">better story</span>
      </h3>
      <p class="descr about__descr">
        Since beginning my journey as a freelance designer nearly 8 years ago,
        I've done remote work for agencies, consulted for startups, and collaborated with
        talented people to create digital products for both business and consumer use.
        I'm quietly confident, naturally curious, and perpetually working on improving my
        chopsone design problem at a time.
      </p>
    </div>
  </div>
</section>
