<section id="home" class="hero">
  <div class="container hero__container">
    <div class="custom-container">
      <h2 class="subtitle hero__subtitle">
        <svg class="subtitle__icon">
          <use xlink:href="img/sprite.svg#down-arrow"></use>
        </svg>
        Introduce
      </h2>
      <h3 class="hero__title">
        Say Hi from <span class="colored-word">Name</span>,
        <br> Framer Designer and Developer
      </h3>
      <p class="descr hero__descr">I design and code beautifully simple things and i love what i do. <br> Just simple like that!</p>
      <a href="#portfolio" class="hero__circle hero-circle">
        <svg class="hero-circle__rotating">
          <use xlink:href="img/sprite.svg#project-circle"></use>
        </svg>
        <svg class="hero-circle__arrow">
          <use xlink:href="img/sprite.svg#down-arrow"></use>
        </svg>
      </a>
      <ul class="list-reset hero__facts hero-facts">
        <li class="hero-facts__item">
          <p class="hero-facts__value">10+</p>
          <p class="hero-facts__descr">Years of experience</p>
        </li>
        <li class="hero-facts__item">
          <p class="hero-facts__value">182+</p>
          <p class="hero-facts__descr">Projects completed on 15&nbsp;countries</p>
        </li>
      </ul>
    </div>
  </div>
</section>
