<section class="hero">
  <div class="container hero__container">
    <div class="hero__img">
      <img src="img/hero-img.png" alt="Препарат Битригам">
      <a href="#" class="hero__link">Где<br>купить?</a>
    </div>
    <div class="hero__content">
      <h1 class="hero__title">
        Битригам
        <img src="img/r-icon.png" class="hero__title-icon">
      </h1>
      <p class="hero__descr">Нейротропный препарат с противовоспалительными регенерирующими свойствами </p>
      <p class="hero__accent">Комбинированный поливитаминный препарат российского производства</p>
    </div>
  </div>
</section>
