<section class="indication">
  <div class="container indication__container">
    <h2 class="title indication__title">Показания</h2>
    <h3 class="subtitle indication__subtitle">В комплексной терапии:</h3>
    <ul class="list-reset indication__list">
      <li class="indication__item">Моно-и полинейропатий различного генеза</li>
      <li class="indication__item">Дорсалгии</li>
      <li class="indication__item">Плексопатий</li>
      <li class="indication__item">Люмбоишиалгии</li>
      <li class="indication__item">Корешкового синдрома, вызванного дегенеративными изменениями позвоночника</li>
    </ul>
  </div>
</section>
