<section class="info">
  <div class="container info__container">
    <div class="info__content">
      <h2 class="subtitle info__title">Нейротропные витамины группы&nbsp;В</h2>
      <p class="info__descr">Оказывают благоприятное воздействие на <b>воспалительные</b> и <b>дегенеративные
          заболевания</b> нервной системы и опорно-двигательного аппарата</p>
    </div>
    <div class="info__media">
      <button class="btn-reset info__play">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video src="videos/1.mp4" preload="metadata" width="666" height="375" controls poster="img/poster.jpg"></video>
    </div>
  </div>
</section>
