<nav class="menu">
  <ul class="list-reset menu__list">
    <li class="menu__item">
      <a href="#home" class="menu__link"
      aria-label="home" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#home"></use>
        </svg>
        <div class="menu__tooltip">
          <p>Home</p>
        </div>
      </a>
    </li>
    <li class="menu__item">
      <a href="#about" class="menu__link" aria-label="about" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#about"></use>
        </svg>
        <div class="menu__tooltip">
          <p>About</p>
        </div>
      </a>
    </li>
    <li class="menu__item">
      <a href="#resume" class="menu__link" aria-label="resume" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#resume"></use>
        </svg>
        <div class="menu__tooltip">
          <p>Resume</p>
        </div>
      </a>
    </li>
    <li class="menu__item">
      <a href="#services" class="menu__link" aria-label="services" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#services"></use>
        </svg>
        <div class="menu__tooltip">
          <p>Services</p>
        </div>
      </a>
    </li>
    <li class="menu__item">
      <a href="#portfolio" class="menu__link" aria-label="portfolio" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#portfolio"></use>
        </svg>
         <div class="menu__tooltip">
          <p>Portfolio</p>
        </div>
      </a>
    </li>
    <li class="menu__item">
      <a href="#testimonials" class="menu__link" aria-label="testimonials" data-menu-item>
        <svg class="menu__icon">
          <use xlink:href="img/sprite.svg#testimonials"></use>
        </svg>
         <div class="menu__tooltip">
          <p>Testimonials</p>
        </div>
      </a>
    </li>
  </ul>
</nav>
