<div class="person">
  <header class="person__header">
    <div class="person__name">Name</div>
    <div class="person__prof">
      <div class="person__designation">Frontend developer</div>
      <div class="person__designation">& UI/UX Designer</div>
    </div>
  </header>
  <div class="person__img">
    <img src="../img/person.jpg" alt="person">
  </div>
  <div class="person__content">
    <a href="mailto:mail@mail.com" class="person__descr person__mail">mail@mail.com</a>
    <div class="person__descr">Base in Los Angeles, CA</div>
  </div>
  <div class="person__copyright">© 2022 Name. All Rights Reserved</div>
  <ul class="list-reset person__social social">
    <li class="social__item">
      <a href="#" class="social__link" target="_blank" aria-label="telegram">
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#telegram"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link" target="_blank" aria-label="github">
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#github"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link" target="_blank" aria-label="facebook">
        <svg class="social__icon">
          <use xlink:href="img/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <a href="mailto:mail@mail.com" target="_blank" class="btn-reset btn person__mail">
    <svg class="btn__icon">
      <use xlink:href="img/sprite.svg#contact-mail"></use>
    </svg>
    Hire me
  </a>
</div>
