<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="custom-container">
      <h2 class="subtitle portfolio__subtitle">
        <svg class="subtitle__icon">
          <use xlink:href="img/sprite.svg#portfolio"></use>
        </svg>
        Portfolio
      </h2>
      <h3 class="title portfolio__title">Featured <span class="colored-word">Projects</span></h3>
      <ul class="list-reset portfolio__list">
        <li class="portfolio__item portfolio__item--full" data-scroll-container data-animation="fade_in">
          <a href="#" class="portfolio__link">
            <h4 class="portfolio__name">Project name</h4>
            <img src="../img/empty.jpg" class="portfolio__img" alt="project #1">
            <ul class="list-reset portfolio__tags">
              <li class="portfolio__tag">Figma</li>
              <li class="portfolio__tag">WordPress</li>
            </ul>
          </a>
        </li>
        <li class="portfolio__item" data-scroll-container data-animation="fade_from_left">
          <a href="#" class="portfolio__link">
            <h4 class="portfolio__name">Project name</h4>
            <img src="../img/empty.jpg" class="portfolio__img" alt="project #1">
            <ul class="list-reset portfolio__tags">
              <li class="portfolio__tag">Figma</li>
              <li class="portfolio__tag">WordPress</li>
            </ul>
          </a>
        </li>
        <li class="portfolio__item" data-scroll-container data-animation="fade_from_right">
          <a href="#" class="portfolio__link">
            <h4 class="portfolio__name">Project name</h4>
            <img src="../img/empty.jpg" class="portfolio__img" alt="project #1">
            <ul class="list-reset portfolio__tags">
              <li class="portfolio__tag">Figma</li>
              <li class="portfolio__tag">WordPress</li>
            </ul>
          </a>
        </li>
        <li class="portfolio__item portfolio__item--full" data-scroll-container data-animation="fade_from_bottom">
          <a href="#" class="portfolio__link">
            <h4 class="portfolio__name">Project name</h4>
            <img src="../img/empty.jpg" class="portfolio__img" alt="project #1">
            <ul class="list-reset portfolio__tags">
              <li class="portfolio__tag">Figma</li>
              <li class="portfolio__tag">WordPress</li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
