<section id="resume" class="resume">
  <div class="container">
    <div class="custom-container">
      <h2 class="subtitle resume__subtitle">
        <svg class="subtitle__icon">
          <use xlink:href="img/sprite.svg#resume"></use>
        </svg>
        Resume
      </h2>
      <h3 class="title resume__title">Education & <span class="colored-word">Experience</span></h3>
      <div class="resume__timeline">
        <div class="resume__date">2020 - present</div>
        <ul class="list-reset resume__list">
          <li class="resume__item">
            <div class="resume__position">Framer Desinger & Developer</div>
            <div class="resume__company">Brunodee Agency</div>
          </li>
          <li class="resume__item">
            <div class="resume__position">Front-End WordPress Developer</div>
            <div class="resume__company">Envato Market</div>
          </li>
        </ul>
      </div>
      <div class="resume__timeline">
        <div class="resume__date">2013 - 2019</div>
        <ul class="list-reset resume__list">
          <li class="resume__item">
            <div class="resume__position">Web Designer</div>
            <div class="resume__company">Freelance</div>
          </li>
          <li class="resume__item">
            <div class="resume__position">Leader Team of Marketing</div>
            <div class="resume__company">AHA Marketing Agency</div>
          </li>
        </ul>
      </div>
      <div class="resume__timeline">
        <div class="resume__date">2010 - 2013</div>
        <ul class="list-reset resume__list">
          <li class="resume__item">
            <div class="resume__position">Bachelor Degree of Information Technology</div>
            <div class="resume__company">US RMIT University</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
