<div class="sidebar" data-sidebar>
  <div class="sidebar__overlay" data-sidebar-overlay></div>
  <div class="sidebar__wrapper">
    <nav class="sidebar__container">
      <h2 class="sidebar__title">Menu</h2>
      <ul class="list-reset sidebar__list">
        <li class="sidebar__item">
          <a href="#home" class="sidebar__link"
          aria-label="home" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#home"></use>
            </svg>
            Home
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#about" class="sidebar__link" aria-label="about" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#about"></use>
            </svg>
            About
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#resume" class="sidebar__link" aria-label="resume" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#resume"></use>
            </svg>
            Resume
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#services" class="sidebar__link" aria-label="services" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#services"></use>
            </svg>
            Services
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#portfolio" class="sidebar__link" aria-label="portfolio" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#portfolio"></use>
            </svg>
            Portfolio
          </a>
        </li>
        <li class="sidebar__item">
          <a href="#testimonials" class="sidebar__link" aria-label="testimonials" data-sidebar-item>
            <svg class="sidebar__icon">
              <use xlink:href="img/sprite.svg#testimonials"></use>
            </svg>
            Testimonials
          </a>
        </li>
      </ul>
      <ul class="list-reset sidebar__social social">
        <li class="social__item">
          <a href="#" class="social__link" target="_blank" aria-label="telegram">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" target="_blank" aria-label="github">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" target="_blank" aria-label="facebook">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
