<section class="stores">
  <div class="container stores__container">
    <h2 class="title stores__title">Где купить?</h2>
    <ul class="list-reset stores__list">
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/eapteka.png" alt="Логотип Еаптека">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/planetazdorovia.png" alt="Логотип Планета здоровья">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/zdravsiti.png" alt="Логотип Здравсити">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/aptekaru.png" alt="Логотип Аптека.ру">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/zdorov.png" alt="Логотип Здоров">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/36-6.png" alt="Логотип 36 и 6">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/uteka-logo.png" alt="Логотип Ютека">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/aptechestvo.png" alt="Логотип Аптечество">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/megaapteka.png" alt="Логотип МегаАптека">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/gorzdrav.png" alt="Логотип Аптеки ГорЗдрав">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
      <li class="stores__item">
        <a href="#"
          class="stores__link" target="_blank">
          <div class="stores__img">
            <img loading="lazy"  src="./img/stores/monastyrov.png" alt="Логотип Монастырев">
          </div>
          <div class="stores__btn">Купить</div>
        </a>
      </li>
    </ul>
  </div>
</section>
