<section id="testimonials" class="testimonial">
  <div class="container">
    <div class="custom-container">
      <h2 class="subtitle testimonial__subtitle">
        <svg class="subtitle__icon">
          <use xlink:href="img/sprite.svg#testimonials"></use>
        </svg>
        Testimonials
      </h2>
      <h3 class="title testimonial__title">Trusted by <span class="colored-word">Hundered Clients</span></h3>
      <div class="swiper testimonial__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial__item">
              <div class="author">
                <div class="author__content">
                  <img src="../img/empty.jpg" class="author__img" alt="testinomial">
                  <div class="author__text">
                    <p class="author__name">Paublo Dybala</p>
                    <p class="author__company">CEO of <span class="colored-word">IBM Global</span></p>
                  </div>
                </div>
                <p class="author__feedback">“Name - A Developer with the creativity, professional and
                  master of code. Much more than what i'm expect.
                  High quality product & flexiable price. Recommended!”</p>
                <a href="#" class="author__project">Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__item">
              <div class="author">
                <div class="author__content">
                  <img src="../img/empty.jpg" class="author__img" alt="testinomial">
                  <div class="author__text">
                    <p class="author__name">Paublo Dybala</p>
                    <p class="author__company">CEO of <span class="colored-word">IBM Global</span></p>
                  </div>
                </div>
                <p class="author__feedback">“Name was a real pleasure to work with and we look
                  forward to working with him again. He's definitely the kind of
                  designer that you can trust with any project from A-Z.”</p>
                <a href="#" class="author__project">Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__item">
              <div class="author">
                <div class="author__content">
                  <img src="../img/empty.jpg" class="author__img" alt="testinomial">
                  <div class="author__text">
                    <p class="author__name">Paublo Dybala</p>
                    <p class="author__company">CEO of <span class="colored-word">IBM Global</span></p>
                  </div>
                </div>
                <p class="author__feedback">“Extremely profressional and fast service! Name is a master
                  of code and he also very creative. We done 3 projects with
                  him and certain will continue.”</p>
                <a href="#" class="author__project">Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial__nav">
        <button class="btn-reset testimonial__btn testimonial__btn--prev">
          <svg class="testimonial__icon">
            <use xlink:href="img/sprite.svg#angle-left"></use>
          </svg>
        </button>
        <div class="testimonial__pagination"></div>
        <button class="btn-reset testimonial__btn testimonial__btn--next">
          <svg class="testimonial__icon">
            <use xlink:href="img/sprite.svg#angle-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
