@import "mixins";

:root {
  --font-family: "OpenSans", sans-serif;
  --body-fz: 20px;
  --title-fz: calc(var(--body-fz) * 2.5);
  --subtitle-fz: calc(var(--body-fz) * 1.25);
  --content-width: 1190px;
  --container-offset: 45px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --section-offset: 100px;
  --small-section-offset: 50px;
  --border-radius: 20px;
  --accent-color: #ee6b37;
  --light-bg-color: #f5f5f5;
  --light-color: #fff;
  --title-color: #8c8c8c;
  --text-color: #343434;
}

@include tablet {
  :root {
    --body-fz: 18px;
    --container-offset: 25px;
    --section-offset: 50px;
    --small-section-offset: 50px;
  }
}

@include mobile {
  :root {
    --body-fz: 16px;
    --container-offset: 15px;
  }
}
