@import "mixins";

:root {
  --font-family: "Inter", sans-serif;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 24px;
  --font-xl: 48px;
  --content-width: 1170px;
  --container-offset: 75px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --custom-container-width: 770px;
  --section-offset: 90px;
  --title-offset: 50px;
  --border-radius: 30px;
  --accent-color: #98a4f6;
  --body-color: #212529;
  --tooltip-bg: #414141;
  --tooltip-text: #fff;
  --tag-bg: #fff;
  --tag-text: #212529;
  --border-color: #999;
  --circle-color: #fff;
  --btn-text: #fff;
  --sidebar-bg: #212529;
  --maintext-color: #fff;
  --subtext-color: #999;
  --icon-fill: #fff;
  --icon-fill-muted: #999;
}

:root[data-theme="light"] {
  --accent-color: #7b84c4;
  --body-color: #fff;
  --tooltip-bg: #eceaea;
  --tooltip-text: #212529;
  --tag-bg: #fff;
  --tag-text: #212529;
  --border-color: #4e4e4e;
  --circle-color: #212529;
  --sidebar-bg: #fff;
  --maintext-color: #212529;
  --subtext-color: #4e4e4e;
  --icon-fill: #212529;
  --icon-fill-muted: #4e4e4e;
}

@include small-desktop {
  :root {
    --section-offset: 50px;
    --title-offset: 30px;
  }
}

@include tablet {
  :root {
    --container-offset: 15px;
  }
}
